.App{
  text-align:center;
  font-size:35px;
  margin-top:45px;
}

.App-title{
  font-size:50px;
}

.clock-days,.clock-hours,.clock-minutes,.clock-seconds{
  display:inline;
  margin:20px;
}
.form-input{
	font-size: 25px;
	margin:5px;
}

.button-click{
	    width: 92px;
   
    line-height: 23px;
    font-size: 20px;
    padding: 7px 10px 4px 5px;
    s
    color: black;
    background-color: red;
    border: 1px solid red;
}